h1 {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 65px;
}

.user {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

.pfp {
    border-radius: 300px;
    width: 250px;
}
.spacing{
    display: flex;
   justify-content:space-between;
}
.row1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.fullname {
    font-family: 'Roboto', sans-serif;
}

.story {
    width: 400px;
}

.story1 {
    border-radius: 301px;
    height: 100px;
}

.bio {
    font-size: 20px;
}

.following {
    background-color: #1780e8;
    width: 160px;
    height: 30px;
    border-radius: 15px;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.post {
    display: flex;
    justify-content: space-around;
}

.posts {
    width: 300px;
}
ul{
  list-style-type:none;
    padding:0px;
    margin:0px;
    background-color:#d9d9d9;
    overflow:hidden;
    display:flex;
    justify-content:space-around;
}
li{
    float:left;
    padding:75px;
    font-size:20px;
}
 a:hover,.dropdown:hover .dropbtn{
    background-color:grey;
}
.dropdown{
   display:inline-block;
}
.dropdown-content{
  display:none;
    position:absolute;
    box-shadow:8px 8px 8px 2px;
}
.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration:none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color:#bfbfbf;
}
.dropdown:hover .dropdown-content {
    display: block;
} 
li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
   text-decoration:none;
}
